.danhsach-bst{
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    a:hover{
        text-decoration: underline;
    }
}
.list-sp div{
    text-align: center;
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(147, 147, 147);
    a{
        font-size: 15px;
        text-decoration: none;
        color: rgb(130, 130, 130);
    }
    a:hover{
        color: black;
    }
}